In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import xlrd
from openpyxl import load_workbook
files = os.listdir('peptide_sample_inf')
# gets all xlsx files in cwd
files_xlsx = [f for f in files if f[-4:] == 'xlsx']
df_inf = pd.DataFrame()
for file in files_xlsx:
    data = pd.read_excel('peptide_sample_inf'+ '/' +file, 'peptide')
    data = data.loc[(data['#Feature'] >= 4)] # sorts out if feature<4
    data['Peptide']=data['Peptide'].str.replace('[^a-zA-Z]','')
    data = data.groupby(['Peptide','Accession'], as_index=False).sum()
    df_inf = df_inf.append(data)  # appends all data
    
files = os.listdir('peptide_sample_ninf')
# gets all xlsx files in cwd
files_xlsx = [f for f in files if f[-4:] == 'xlsx']
df_ninf = pd.DataFrame()
for file in files_xlsx:
    data = pd.read_excel('peptide_sample_ninf'+ '/' +file, 'peptide')
    data = data.loc[(data['#Feature'] >= 4)] # sorts out if feature<4
    data['Peptide']=data['Peptide'].str.replace('[^a-zA-Z]','')
    data = data.groupby(['Peptide','Accession'], as_index=False).sum()
    df_ninf = df_ninf.append(data)  # appends all data
    
files = os.listdir('WF')
# gets all xlsx files in cwd
files_xlsx = [f for f in files if f[-4:] == 'xlsx']
df_wf = pd.DataFrame()
for file in files_xlsx:
    data = pd.read_excel('WF'+ '/' +file, 'peptide')
    data = data.loc[(data['#Feature'] >= 4)] # sorts out if feature<4
    data['Peptide']=data['Peptide'].str.replace('[^a-zA-Z]','')
    data = data.groupby(['Peptide','Accession'], as_index=False).sum()
    df_WF = df_WF.append(data)  # appends all data

In [6]:
df_WF

,Peptide,Accession,-10lgP,Mass,Length,ppm,m/z,RT,Area WF1,Fraction,#Feature,#Feature WF1,Area WF2,#Feature WF2,Area WF 3,#Feature WF 3,Area WF4,#Feature WF4,Area WF5,#Feature WF5
0,AAGSDVDIDMAFILDSAETT,sp|P12111|CO6A3_HUMAN,61.04,2056.9146,20,4.6,1029.4692,109.31,892000.0,4,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AALLSPYSYSTTAVVTNPKE,sp|P02766|TTHY_HUMAN,85.56,2111.0786,20,2.0,1056.5487,75.48,70100000.0,3,8,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAMSTYTGIFTDQVLSVLKGEE,sp|P02655|APOC2_HUMAN,85.25,2375.1565,22,2.2,1188.5881,113.66,42600000.0,4,7,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AASQAALGL,sp|P02768|ALBU_HUMAN,49.02,800.4392,9,0.0,401.2269,37.79,18300000.0,3,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAWIDSVLA,sp|P00746|CFAD_HUMAN,47.32,944.4967,9,0.7,473.2560,106.09,701000.0,3,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,YPWTQRF,sp|P68871|HBB_HUMAN:sp|P02042|HBD_HUMAN,45.51,996.4818,7,1.6,499.2490,55.28,NaN,18,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22500000.0,4.0
798,YQGAIRQIDDIDV,sp|P04114|APOB_HUMAN,51.08,1504.7521,13,5.5,753.3875,63.75,NaN,20,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1850000.0,4.0
799,YQKSTELLI,sp|Q71DI3|H32_HUMAN,41.45,1093.6019,9,3.0,547.8099,38.71,NaN,18,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800000.0,4.0
800,YQKVVAGVANALAHKYH,sp|P68871|HBB_HUMAN:sp|P02042|HBD_HUMAN,58.64,1868.0056,17,1.8,623.6769,30.13,NaN,19,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58100000.0,5.0
801,YTGIFTDQVLSVLKGEE,sp|P02655|APOC2_HUMAN,68.50,1897.9673,17,3.1,949.9939,111.04,NaN,17,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6560000.0,5.0

In [8]:
result=[]
test = ['FLASVTVLTSKYR', 'SVSTVLTSKYR']
for seq1 in test:
    for seq2 in df_inf['Peptide']:
        if seq1 in seq2 and len(seq2)<(len(seq1)+6):
            result.append((seq1,seq2))
            
result=pd.DataFrame(result)
result.columns=['ref','pat']
# result.drop_duplicates('pat', inplace=True)
# with pd.ExcelWriter(filename, engine='openpyxl') as writer:
#     writer.book = load_workbook(filename)
#     result.to_excel(writer, sheetname , columns=['ref','pat'])
result

           ref            pat
0  SVSTVLTSKYR   ASVSTVLTSKYR
1  SVSTVLTSKYR  LASVSTVLTSKYR
2  SVSTVLTSKYR    SVSTVLTSKYR
3  SVSTVLTSKYR  LASVSTVLTSKYR
4  SVSTVLTSKYR    SVSTVLTSKYR
5  SVSTVLTSKYR   ASVSTVLTSKYR
6  SVSTVLTSKYR  LASVSTVLTSKYR
7  SVSTVLTSKYR    SVSTVLTSKYR

In [114]:
df_ref['Peptide']= df_ref['Peptide'].apply(lambda x: x.split('.')[1] if x[1]=='.' else x.split('.')[0] if (x[1]!='.' and x[-2]=='.') else x)
df_ref['Peptide']=df_ref['Peptide'].str.replace('[^a-zA-Z]','')
## Ta bort nedströms AA
# df_ref['Peptide'] = df_ref['Peptide'].map(lambda x: str(x[3:]) )
# df_ref['Peptide'] = df_ref['Peptide'].map(lambda x: str(x[:-3]) )
df_ref

,Unnamed: 0,Peptide,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,GEGDFLAEGGVR,NaN,NaN,NaN,NaN
1,NaN,GDSTFESKSY,NaN,NaN,NaN,https://www-sciencedirect-com.ludwig.lub.lu.se...
2,NaN,KMADEAGSEADHEGTHST,NaN,NaN,NaN,NaN
3,NaN,HWESALLR,NaN,NaN,NaN,NaN
4,NaN,IHWESASLL,NaN,NaN,NaN,NaN
5,NaN,SHALQLNNRQI,NaN,NaN,NaN,NaN
6,NaN,GGHLDQQVEEF,NaN,NaN,NaN,NaN
7,NaN,TVGSLAGQPLQERAQAWGERL,NaN,NaN,NaN,NaN

In [115]:
result=[]
for seq1 in df_ref['Peptide']:
    for seq2 in df_inf['Peptide']:
        if seq1 in seq2 and len(seq2)<(len(seq1)+6):
            result.append((seq1,seq2))
            
result=pd.DataFrame(result)
result.columns=['ref','pat']
result.drop_duplicates('pat', inplace=True)
with pd.ExcelWriter(filename, engine='openpyxl') as writer:
    writer.book = load_workbook(filename)
    result.to_excel(writer, sheetname , columns=['ref','pat'])
result

                   ref                     pat
0   KMADEAGSEADHEGTHST  SYKMADEAGSEADHEGTHSTKR
1            IHWESASLL               IHWESASLL
4            IHWESASLL              IHWESASLLR
7          GGHLDQQVEEF           ELGGHLDQQVEEF
8          GGHLDQQVEEF          AELGGHLDQQVEEF
9          GGHLDQQVEEF             GGHLDQQVEEF
10         GGHLDQQVEEF            LGGHLDQQVEEF
11         GGHLDQQVEEF        SLAELGGHLDQQVEEF
15         GGHLDQQVEEF         LAELGGHLDQQVEEF